*{
    text-transform: capitalize;
}.reviews{
    background-color: white;
    width: 40%;
    padding: 20px;
    text-align: center;
    box-shadow: 1px 1px 10px rebeccapurple;
}
.img-container > img{
    clip-path: circle();
}

#next-btn , #pre-btn{
    background: none;
    border: none;
    color: rebeccapurple;
    font-size: 25px;
}
#suprise{
    border: 2px solid rebeccapurple;
    background: none;
    padding: 5px 30px;
}