.title{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid cornflowerblue;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}